* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.main_logo {
  background-color: red;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 4.5rem;
  width: 100%;
  backdrop-filter: blur(2px);
  position: relative;
  padding: 0px 1rem;
  box-sizing: border-box;
}

.logo {
  width: 250px;
}

.logo img {
  width: 100%;
}

.chat_main {
  display: flex;
  height: calc(100% - 4.5rem);
  flex-direction: column;
  overflow-y: auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  transition: height 300ms ease 0s;
  background-color: #fff;
}

.chat-section {
  overflow: auto;
  padding: 0 10px;
  background-color: #fff;
  position: relative;
  margin-top: 10px;
  transition: all 0.5ms ease-in-out;
}

.chat-section::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch;
  display: none;
  scroll-behavior: smooth;
}

.user-chat {
  padding: 10px 22px;
  border-radius: 30px;
  line-height: 25px;
  font-size: 16px;
  background-color: #f1eef1;

  color: rgb(18, 18, 18);
  max-width: 300px;
  width: fit-content;
  word-wrap: break-word;
}

.my-chat {
  padding: 10px 22px;
  border-radius: 30px;
  line-height: 25px;
  font-size: 16px;
  background-color: #6144ff;
  max-width: 300px;
  width: fit-content;
  text-align: start;
  margin-left: auto;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.suggestion-section {
  gap: 10px;
  margin-top: 30px;
  /* background-color: red; */
}

.text_field {
  background-color: #f5f5f5;
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.076) 0px 1px 2px 0px;
}

.textarea::-webkit-scrollbar {
  display: none;
}

.textarea {
  width: 100%;
  height: 37px;
  outline: none;
  border: none;
  resize: none;
  background: none;
  font-size: 20px;
  line-height: 22px;
  padding: 8px 5px 0 7px;
  overflow-y: auto;
}

.textarea::placeholder {
  color: #7f7f7f;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 22px;
}

i {
  font-size: 20px;
  margin-right: 10px;
  color: #3872f7;
}

.file-section {
  width: 100% !important;
  display: flex;
  /* background: red; */
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.suggestion-section button.sent-button {
  border: none;
  border-radius: 0 !important;
  padding: 0;
  margin: 0 !important;
  background-color: transparent !important;
  box-shadow: none;
}

.fa-image {
  margin: 0;
}

.image {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  margin-right: auto;
  object-fit: cover;
  position: absolute;
  right: 0;
}

input[type="file"] {
  display: none;
}

.button-full-width {
  width: 100% !important;
  /* background-color: #fff !important; */
}
.slick-list {
  padding: 20px !important;
}

.slick-track {
  display: flex !important;
  width: 100% !important;
  /* background-color: red; */
  margin: 0 auto;
}
.slick-track-reset {
  display: block !important;
  width: 100% !important;
  margin: 0 auto;
}

.suggestion-section button {
  padding: 8px 25px;
  border-radius: 30px;
  line-height: 25px;
  font-size: 16px;
  background-color: #f1eef1;
  color: rgb(18, 18, 18);
  width: fit-content;
  border: none;
  cursor: pointer;
  min-width: fit-content;
  user-select: none;

  margin-right: 20px;
  /* margin-top: 10px; */
  box-shadow: 3px 10px 16px 0px rgba(199, 199, 199, 0.75);
  -webkit-box-shadow: 3px 10px 16px 0px rgba(199, 199, 199, 0.75);
  -moz-box-shadow: 3px 10px 16px 0px rgba(199, 199, 199, 0.75);
}

@media screen and (max-width: 600px) {
  .chat_main {
    padding: 0vh 0vw 1.5rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 400px) {
  .chat-section {
    /* height: 50vh; */
  }
  .chat_main {
    /* padding: 10vh 4vw 1.5rem; */
  }

  .suggestion-section {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
  }
  .slick-track-reset {
    width: 100% !important;
  }
  .textarea {
    width: 100% !important;
  }

  .button-full-width {
    width: 100% !important;
  }
}
