@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&family=Roboto:wght@400;500;700&display=swap");
@font-face {
  font-family: myFirstFont;
  src: url("../assets/fonts/Helvetica\ Neue\ Medium\ Extended.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  /* height: 100vh; */
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.main_logo {
  /* background-color: red; */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 4.5rem;
  width: 100%;
  backdrop-filter: blur(2px);
  position: relative;
  padding: 0px 1rem;
  box-sizing: border-box;
}

.logo {
  width: 250px;
}

.logo img {
  width: 100%;
}

.chat_main {
  display: flex;
  height: calc(100% - 4.5rem);
  flex-direction: column;
  overflow-y: auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
  transition: height 300ms ease 0s;
  background-color: #fff;
}

.chat-section {
  overflow: auto;
  padding: 10px 10px;
  position: relative;
  margin-top: 0px;
  transition: all 0.5ms ease-in-out;
  scroll-behavior: smooth;
  flex: 1;
}

.chat-section::-webkit-scrollbar {
  -webkit-overflow-scrolling: touch;
  display: none;
  scroll-behavior: smooth;
}

.user-chat {
  padding: 10px 22px;
  border-radius: 30px;
  line-height: 25px;
  font-size: 16px;
  background-color: #f1eef1;

  color: rgb(18, 18, 18);
  max-width: 300px;
  width: fit-content;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.my-chat {
  padding: 10px 22px;
  border-radius: 30px;
  line-height: 25px;
  font-size: 16px;
  background-color: #6144ff;
  max-width: 300px;
  width: fit-content;
  text-align: start;
  margin-left: auto;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.my-chat-image {
  border-radius: 30px;
  line-height: 25px;
  /* background-color: #6144ff; */
  /* max-width: 300px; */
  width: fit-content;
  text-align: start;
  margin-left: auto;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.suggestion-section {
  gap: 10px;
  /* margin-top: 30px; */
  width: 100%;

  /* background-color: red; */
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.suggestion-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.suggestion-section::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
  height: 10px;
}

.suggestion-section::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #eaeaea;
}

.text_field {
  background-color: #f5f5f5;
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  padding: 5px 10px;
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.076) 0px 1px 2px 0px; */
}

.textarea::-webkit-scrollbar {
  display: none;
}

.textarea {
  width: 100%;
  height: 37px;
  outline: none;
  border: none;
  resize: none;
  background: none;
  font-size: 15px;
  line-height: 22px;
  padding: 8px 5px 0 7px;
  overflow-y: auto;
  color: #000000;
}

.textarea::placeholder {
  color: #7f7f7f;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 22px;
}

i {
  font-size: 20px;
  margin-right: 10px;
  color: #3872f7;
}

.file-section {
  width: 100% !important;
  display: flex;
  /* background: red; */
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.suggestion-section button.sent-button {
  border: none;
  border-radius: 0 !important;
  padding: 0;
  margin: 0 !important;
  background-color: transparent !important;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-image {
  margin: 0;
}

.image {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  margin-right: auto;
  object-fit: cover;
  /* position: absolute; */
  /* right: 0; */
}

input[type="file"] {
  display: none;
}

.button-full-width {
  width: 100% !important;
  /* background-color: #fff !important; */
}
.slick-list {
  padding: 20px !important;
}

.slick-track {
  display: flex !important;
  width: 100% !important;
  /* background-color: red; */
  margin: 0 auto;
}
.slick-track-reset {
  display: block !important;
  width: 100% !important;
  margin: 0 auto;
}

/* .suggestion-section button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} */

.suggestion-section button {
  padding: 8px 25px;
  border-radius: 30px;
  line-height: 25px;
  font-size: 16px;
  background-color: #f5f5f6;
  color: rgb(18, 18, 18);
  width: fit-content;
  border: none;
  cursor: pointer;
  min-width: fit-content;
  /* font-weight: 600; */
  margin-right: 20px;
  user-select: none;
}

.button-privous {
  display: none;
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.button-next {
  display: none;
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

@media screen and (min-width: 1700px) {
  body {
    background-color: transparent;
  }
  .chat-section {
    width: 70%;
    margin: 0 auto;
  }

  .main_suggestion_section {
    width: 80%;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  .button-privous {
    display: block;
  }
  .button-next {
    display: block;
  }

  .suggestion-section {
    width: 100%;
    /* overflow: hidden; */
    margin: 10px auto;
    align-items: center;
    justify-content: center;
  }
  .suggestion-section button {
    margin-right: 20px;
  }
  .suggestion-section::-webkit-scrollbar {
    /* display: none; */
    scroll-behavior: smooth;
  }
}

@media screen and (min-width: 1400px) {
  body {
    background-color: transparent;
  }
  .chat-section {
    width: 80%;
    margin: 0 auto;
  }

  .main_suggestion_section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    padding: 0 10px;
  }

  .button-privous {
    display: block;
  }
  .button-next {
    display: block;
  }

  .suggestion-section {
    width: 100%;
    /* overflow: hidden; */
    margin: 10px auto;
    align-items: center;
    justify-content: center;
  }
  .suggestion-section button {
    margin-right: 0;
  }
  .suggestion-section::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 600px) {
  .chat_main {
    padding: 0vh 0vw 1.5rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    width: 190px;
  }
  .suggestion-section {
    width: 100%;
    /* overflow: hidden; */
    margin: 10px auto;
    align-items: start;
    justify-content: start;
  }

  .suggestion-section::-webkit-scrollbar {
    display: none;
  }

  .slick-track-reset {
    width: 100% !important;
  }
  .textarea {
    width: 100% !important;
  }

  .button-full-width {
    width: 100% !important;
  }
}
